body {
    background: rgb(245, 244, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* HEADER/NAV BAR STYLES */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    background-color: rgb(238, 29, 29);
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    padding: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 35px;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* ABOUT ME */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about img {
    float: right;
    border-color: black;
    border: solid;
    
}

.about p {
    width: 300px;
    text-align: left;  
    padding: 55px;
}

.about-title {
    width: 100%;
    text-align: center;
}

/* PREVIOUS WORK STYLES */

.prework {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.hor #hor-title {
    display: flex;
    align-items: baseline;
    visibility: visible;
    border: solid;
    border-color: black;
    padding: 5px;
}

.hor:hover #hor-title {
    visibility: none;
}


.run #run-title {
    display: flex;
    align-items: baseline;
    visibility: visible;
    border: solid;
    border-color: black;
    padding: 5px;
}

.run:hover #run-title {
    visibility: none;
}

/* FOOTER STYLES */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
    background-color: rgb(64, 151, 233);
}

footer h2 {
    padding: 25px;
    margin: 0;
    text-align: center;
    width: 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   
    }

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    }