body {
    background: rgb(233, 240, 239);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* HEADER/NAV BAR STYLES */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    padding: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 35px;
}

ul {
    list-style: none;
}


/* ABOUT ME */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about h2 {
    text-align: center;
}

.about img {
    float: center;
}

.about p {
    width: 500px;
    text-align: center;  
}

/* PREVIOUS WORK STYLES */

.prework {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/* FOOTER STYLES */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
    
}

footer h2 {
    padding: 25px;
    margin: 0;
    text-align: center;
    width: 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   
    }

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    }